<%- include('header') %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer con Filtros, Chat y Modal</title>
    <link rel="stylesheet" href="./css/sugerencias.css">
</head>
<body>
    <div class="chat-section">
		<%	
		sugerencias.forEach(sugerencia => {
			var like = 0, dislike = 0;
			
			if(sugerencia.Likes){
				var Likes = sugerencia.Likes.split(',');
				var IDAutores = sugerencia.IDAutores.split(',');	
		
				var marked = false;
				Likes.forEach(function(vote, index) {
				if(user){
					if(IDAutores[index] == user.IDUsuario){
						if(vote == "up"){
							marked = "up";
						}else{
							marked = "down";
						}
					}
				}else{
					marked="down";
				}

					switch(vote){
						case "up":
							like++;
						break;

						case "down":
							dislike++;
						break;
					}
				});
			}

			let tipo;
			switch (sugerencia.Tipo) {
				case "tabla":
					tipo = "Tabla Periodica";
					break;

				case "lewis":
					tipo = "Laboratorio (Lewis)";
					break;

				case "dalton":
					tipo = "Laboratorio (Dalton)";
					break;

				default:
					tipo = "General";
					break;
			}
		
		%>
        <div class="chat-container">
            <div class="message-box <%= sugerencia.Tipo %>"> 
                <div class="message-header">
                    <div class="right">
                        <span class="username"><%= sugerencia.Titulo %></span>
                        <span class="category"><%= tipo %></span>
                    </div>
                    <span class="date"><%= sugerencia.Username ? sugerencia.Username : '[Eliminado]' %>#<%= sugerencia.IDUsuario %></span>
                </div>
				
                <div class="message-content">
					<%= sugerencia.Texto %>
                <div class="reactions">
                    <span class="reaction">
						<%= like %>
						<% if(user){ 
						 	if(marked == "up"){ %>
								<i class="fa-solid fa-arrow-up upBlock"></i>
						<% }else{ %>
							<i class="fa-solid fa-arrow-up up"></i>
						<% }
						} else { %>
							<i class="fa-solid fa-arrow-up disabled"></i>
						<% } %>		
					</span>
                    <span class="reaction">
						<%= dislike %>
						<% if(user){ 
							if(marked == "down"){ %>
								<i class="fa-solid fa-arrow-down downBlock"></i>
						<% }else{ %>
								<i class="fa-solid fa-arrow-down down"></i>
						<% } 
						}else{%>
							<i class="fa-solid fa-arrow-down disabled"></i>
						<% } %>
					</span>
					<% if(user){ %>
					<input type="hidden" class="userData" data-usuario="<%= user.IDUsuario %>"
					data-sugerencia="<%= sugerencia.IDSugerencia %>">
					<% }else{ %>
					<input type="hidden" class="userData" data-sugerencia="<%= sugerencia.IDSugerencia %>">

					<% } %>
				</div>
				</div>
            </div>
        </div>
		<% }); %>
    </div>

    <!-- Footer -->
    <div class="footer">
		<% if(user){ %>
        <input type="text" class="input-box" placeholder="Escribe aquí...">
		<% }else{ %>
		<input type="text" class="input-box" placeholder="Inicia sesion para comentar..." disabled>
		<% } %>
        <div class="filter-button">
            FILTROS
            <div class="filter-menu">
                <strong>FILTROS</strong>
                <div>
                    <p>CATEGORÍAS</p>
					<label><input type="checkbox" class="filter-checkbox" id="tabla"> Tabla Periodica</label>
                    <label><input type="checkbox" class="filter-checkbox" id="lewis"> Laboratorio (Lewis)</label>
                    <label><input type="checkbox" class="filter-checkbox" id="dalton"> Laboratorio (Dalton)</label>
                    <label><input type="checkbox" class="filter-checkbox" id="general"> General</label>
                </div>
                <div>
                    <p>FECHA</p>
                    <label><input type="checkbox" class="filter-checkbox"> Más recientes</label>
                    <label><input type="checkbox" class="filter-checkbox"> Más antiguos</label>
                </div>
                <div class="filter-actions">
                    <span onclick="selectAll()">Seleccionar todos</span>
                    <span onclick="clearAll()">Limpiar filtros</span>
                </div>
            </div>
        </div>
    </div>

	<% if(user){ %>
    <!-- Modal -->
    <div class="modal" id="chatModal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>DANOS TU OPINION!!</h2>
            </div>

			<form method="POST" action="/sendSugerencia">
			<div class="modal-tabs">
                <input type="text" id="titleInput" placeholder="titulo" name="titulo" required>
                <select type="text" id="generalInput" name="tipo" required>
					<option value='general'>General</option>
					<option value='lewis'>Laboratorio (Lewis)</option>
					<option value='dalton'>Laboratorio (Dalton)</option>
					<option value='tabla'>Tabla Periodica</option>
				</select>
            </div>
            <textarea class="modal-textarea" id="modalTextarea" name="texto"></textarea>
			<input type="hidden" value="<%= user.IDUsuario %>" name="idUsuario">
            <div class="modal-footer">
                <button type="submit">ENVIAR</button>
            </div>
			</form>
        </div>
    </div>
	<% } %>
    <script src="./js/community/sugerencias.js"></script>
</body>
</html>
