<div class="scrollbox">
  <% elementos.forEach(elemento=> { %>
    <div class="toggable" id="<%= elemento.nombre %>">
      <div class="searchable block <%= elemento.tipo %>">
        <div class="simbolo <%= elemento.tipo %>">
          <%= elemento.simbolo %>
        </div>
        <div class="nombre">
          <%= elemento.nombre %>
        </div>
      </div>

      <div class="isotopos toggle">
        <span class="bar">
        </span>
        <span class="isotopos">
          <% elemento.oxidacion.Estados.forEach(estado=> { %>
            <div id="<%= `${elemento.simbolo}-${estado}` %>" class="creatable <%= elemento.tipo %>"
              data-simbolo="<%= elemento.simbolo %>" data-nombre="<%= elemento.nombre %>"
              data-numAtomico="<%= elemento.numAtomico %>" data-periodo="<%= elemento.periodo %>"
              data-grupo="<%= elemento.grupo %>" data-tipo="<%= elemento.tipo %>" data-superindice="<%= estado %>"
              onmousedown="crearAtomo(event)">
              <%= elemento.simbolo %><sup>
                  <%= estado %>
                </sup>
            </div>
            <% }) %>
        </span>
      </div>
    </div>
    <% }) %>
</div>
